body {
  background-color: black;
  color: white;
}

.status-image {
  animation: rotate 1s linear infinite;
}

@keyframes rotate{
  to{ transform: rotate(360deg); }
}

button {
  border: none;
  height: 50px;
  width: 100px;
  margin: 20px;
  background: transparent;
  cursor: pointer;
 
}
button.active {
  background-color: purple;
  border-radius: 20px;
  color: white;
  border: 0.5px solid rgb(141, 138, 138);
  box-shadow: 2px 5px 10px rgb(141, 138, 138);
}

button.inactive {
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 5px 10px purple ;
  border: 0.5px solid purple;
}